<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>NLPT22</title>
        <!-- Css -->
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
      </head>
      <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="col-md-12">
            <div class="nav">
                <button class="btn-nav">
                <span class="icon-bar inverted top"></span>
                <span class="icon-bar inverted middle"></span>
                <span class="icon-bar inverted bottom"></span>
                </button>
            </div>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
                <ul class="nav-list vcenter">
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/">Home</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/search.html">Search</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/sundays.html">Sundays</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/members.html">Members</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/roster.html">Roster</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/add.html">Add</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/rewind.html">Rewind</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- Header -->

        <div class="span12">
            <div class="col-md-6 no-gutter text-center fill">
            <br>
            <form method='POST'>
                  <p>
                     Enter Roster for 2022-11-06
                  </p>
                  
                  <div class="col-md-12">
                  <p>
                     Song Leader 1
                  </p>
                  <input type="text" name="SL1_1" size=30>
                  <p>
                     Song Leader 2
                  </p>
                  <input type="text" name="SL2_1" size=30>
                  <p>
                     Vocal
                  </p>
                  <input type="text" name="V_1" size=30>
                  <p>
                     Guitar 1
                  </p>
                  <input type="text" name="G1_1" size=30>
                  <p>
                     Guitar 2
                  </p>
                  <input type="text" name="G2_1" size=30>
                  <p>
                     Keys
                  </p>
                  <input type="text" name="K_1" size=30>
                  <p>
                     Drums
                  </p>
                  <input type="text" name="D_1" size=30>
                  <p>
                     Pads
                  </p>
                  <input type="text" name="P_1" size=30>
                  <br>
                </div><form method='POST'>
                  <p>
                     Enter Roster for 2022-11-13
                  </p>
                  
                  <div class="col-md-12">
                  <p>
                     Song Leader 1
                  </p>
                  <input type="text" name="SL1_2" size=30>
                  <p>
                     Song Leader 2
                  </p>
                  <input type="text" name="SL2_2" size=30>
                  <p>
                     Vocal
                  </p>
                  <input type="text" name="V_2" size=30>
                  <p>
                     Guitar 1
                  </p>
                  <input type="text" name="G1_2" size=30>
                  <p>
                     Guitar 2
                  </p>
                  <input type="text" name="G2_2" size=30>
                  <p>
                     Keys
                  </p>
                  <input type="text" name="K_2" size=30>
                  <p>
                     Drums
                  </p>
                  <input type="text" name="D_2" size=30>
                  <p>
                     Pads
                  </p>
                  <input type="text" name="P_2" size=30>
                  <br>
                </div><form method='POST'>
                  <p>
                     Enter Roster for 2022-11-20
                  </p>
                  
                  <div class="col-md-12">
                  <p>
                     Song Leader 1
                  </p>
                  <input type="text" name="SL1_3" size=30>
                  <p>
                     Song Leader 2
                  </p>
                  <input type="text" name="SL2_3" size=30>
                  <p>
                     Vocal
                  </p>
                  <input type="text" name="V_3" size=30>
                  <p>
                     Guitar 1
                  </p>
                  <input type="text" name="G1_3" size=30>
                  <p>
                     Guitar 2
                  </p>
                  <input type="text" name="G2_3" size=30>
                  <p>
                     Keys
                  </p>
                  <input type="text" name="K_3" size=30>
                  <p>
                     Drums
                  </p>
                  <input type="text" name="D_3" size=30>
                  <p>
                     Pads
                  </p>
                  <input type="text" name="P_3" size=30>
                  <br>
                </div><form method='POST'>
                  <p>
                     Enter Roster for 2022-11-27
                  </p>
                  
                  <div class="col-md-12">
                  <p>
                     Song Leader 1
                  </p>
                  <input type="text" name="SL1_4" size=30>
                  <p>
                     Song Leader 2
                  </p>
                  <input type="text" name="SL2_4" size=30>
                  <p>
                     Vocal
                  </p>
                  <input type="text" name="V_4" size=30>
                  <p>
                     Guitar 1
                  </p>
                  <input type="text" name="G1_4" size=30>
                  <p>
                     Guitar 2
                  </p>
                  <input type="text" name="G2_4" size=30>
                  <p>
                     Keys
                  </p>
                  <input type="text" name="K_4" size=30>
                  <p>
                     Drums
                  </p>
                  <input type="text" name="D_4" size=30>
                  <p>
                     Pads
                  </p>
                  <input type="text" name="P_4" size=30>
                  <br>
                </div><br>
            <br>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/add_roster_result.html">
               <button class="btn">Submit</button>
            </a>
            <br>
            <a href="http://127.0.0.1:5000/add.html">
                <button class="btn">Back</button>
            </a>
            </div>

            <div class="col-md-6 no-gutter text-center">
            <div id="header" data-speed="2" data-type="background">
                <div id="headslide" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="{{url_for('static',filename='add.jpg')}}" alt="Slide">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <!-- script -->
        <script src="{{url_for('static',filename='jquery.js') }}"> </script>
        <script src="{{url_for('static',filename='bootstrap.min.js') }}"> </script> 
        <script src="{{url_for('static',filename='menu-color.js') }}"> </script>
        <script src="{{url_for('static',filename='modernizer.js') }}"> </script>
        <script src="{{url_for('static',filename='script.js') }}"> </script>
         </body>
         </html>