<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>NLPT22</title>
        <!-- Css -->
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
      </head>
      <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="col-md-12">
            <div class="nav">
                <button class="btn-nav">
                <span class="icon-bar inverted top"></span>
                <span class="icon-bar inverted middle"></span>
                <span class="icon-bar inverted bottom"></span>
                </button>
            </div>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
                <ul class="nav-list vcenter">
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/">Home</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/search.html">Search</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/sundays.html">Sundays</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/members.html">Members</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/roster.html">Roster</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/add.html">Add</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/edit.html">Edit</a></li>
                    <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/rewind.html">Rewind</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- Header -->

        <div class="span12">
            <div class="col-md-6 no-gutter text-center fill">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <h2 class="center">Add Roster</h2>
                <p>
                    Which Month would you like to put into the database?
                </p>
                <form method='POST'>
                    <input type="text" name="mText" size="50">
                    <br>
                    <button class="btn">Submit</button>
                </form>
            
            <br>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/add.html">
                <button class="btn">Back</button>
            </a>
            </div>

            <div class="col-md-6 no-gutter text-center">
            <div id="header" data-speed="2" data-type="background">
                <div id="headslide" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="{{url_for('static',filename='add.jpg')}}" alt="Slide">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <!-- script -->
        <script src="{{url_for('static',filename='jquery.js') }}"> </script>
        <script src="{{url_for('static',filename='bootstrap.min.js') }}"> </script> 
        <script src="{{url_for('static',filename='menu-color.js') }}"> </script>
        <script src="{{url_for('static',filename='modernizer.js') }}"> </script>
        <script src="{{url_for('static',filename='script.js') }}"> </script>
         </body>
         </html>