<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>NLPT22</title>
      <!-- Css -->
      <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   </head>
   <body>
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="col-md-12">
            <div class="nav">
               <button class="btn-nav">
               <span class="icon-bar inverted top"></span>
               <span class="icon-bar inverted middle"></span>
               <span class="icon-bar inverted bottom"></span>
               </button>
            </div>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
               <ul class="nav-list vcenter">
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/">Home</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/search.html">Search</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/sundays.html">Sundays</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/members.html">Members</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/roster.html">Roster</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/add.html">Add</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/edit.html">Edit</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/rewind.html">Rewind</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
 
      <div class="span12">
         <div class="col-md-6 no-gutter text-center fill">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <h2 class="center">Members</h2>
            <br>
            <pre style="height:450px; width=200px;">

Member Name: Calvin
Role: Drum
Since 2022, Calvin stood 45 times
Below are the name and the frequency of members that Calvin has stood with
 Vocal  | David : 27
 Guitar | David : 27
Keys   | Jake : 20


Member Name: David
Role: Vocal + Guitar
Since 2022, David stood 30 times: 30 times as a Song Leader and 0 times as a Vocal
Below are the name and the frequency of members that David has stood with
   Vocal | Stella C : 14
Keys  | Jake : 17
    This member is a Song Leader and below are the songs that David has picked the most
• Pride of a Father : 4


Member Name: Emily
Role: Keys
Since 2022, Emily stood 17 times
Below are the name and the frequency of members that Emily has stood with
Vocal  | Stella C : 13
Guitar | Paul : 10


Member Name: Jake
Role: Keys
Since 2022, Jake stood 26 times
Below are the name and the frequency of members that Jake has stood with
Vocal  | David : 17
Guitar | David : 17


Member Name: Minhee (Past Member)
Role: Vocal + Keys
Since 2022, Minhee stood 16 times: 11 times as a Song Leader and 4 times as a Vocal and 1 times as an Instrumentalist
Below are the name and the frequency of members that Minhee has stood with
Vocal  | Paul : 10
Guitar | Paul : 10
    This member is a Song Leader and below are the songs that Minhee has picked the most
• Saviour King : 2
• More Like Jesus : 2
• Trust You : 2


Member Name: Paul
Role: Vocal + Guitar
Since 2022, Paul stood 29 times: 28 times as a Song Leader and 1 times as a Vocal
Below are the name and the frequency of members that Paul has stood with
   Vocal | Minhee : 10
Keys  | Emily : 10
    This member is a Song Leader and below are the songs that Paul has picked the most
• Pursue / All I Need is You : 4


Member Name: Stella C
Role: Vocal + Guitar
Since 2022, Stella C stood 22 times: 20 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Stella C has stood with
   Vocal | David : 14
Keys  | Emily : 12
    This member is a Song Leader and below are the songs that Stella C has picked the most
• This I Believe (The Creed) : 3
• Pride of a Father : 3


Member Name: Stella K (Past Member)
Role: Keys
Since 2022, Stella K stood 4 times
Below are the name and the frequency of members that Stella K has stood with
Vocal  | Paul : 3
Guitar | Paul : 3


Member Name: Salang
Role: Vocal + Guitar
Since 2022, Salang stood 16 times: 1 times as a Song Leader and 15 times as a Vocal
Below are the name and the frequency of members that Salang has stood with
   Vocal | Paul : 10
Keys  | Jake : 7
    This member is a Song Leader and below are the songs that Salang has picked the most
• Pursue / All I Need is You : 2
• Turn Your Eyes : 2


Member Name: Josh (Past Member)
Role: Vocal + Guitar
Since 2022, Josh stood 2 times: 0 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Josh has stood with
   Vocal | David : 1
Keys  | Jake : 2


Member Name: Priscilla
Role: Vocal + Guitar
Since 2022, Priscilla stood 4 times: 0 times as a Song Leader and 4 times as a Vocal
Below are the name and the frequency of members that Priscilla has stood with
   Vocal | Paul : 3
Keys  | Emily : 2


Member Name: Annabel
Role: Sound

Member Name: Annette
Role: Sound

Member Name: Jackie (Past Member)
Role: Vocal
Since 2022, Jackie stood 22 times: 20 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Jackie has stood with
 Vocal  | David : 14
 Guitar | David : 14
Keys   | Jake : 14
    This member is a Song Leader and below are the songs that Jackie has picked the most
• Unashamed : 3
• Pride of a Father : 3


Member Name: Una
Role: Vocal
Since 2022, Una stood 13 times: 3 times as a Song Leader and 10 times as a Vocal
Below are the name and the frequency of members that Una has stood with
 Vocal  | Paul : 9
 Guitar | Paul : 9
Keys   | Jake : 5
    This member is a Song Leader and below are the songs that Una has picked the most
• Scandal of Grace : 1
• King of Kings : 1
• Hark the Herald : 1
• Silent Night + Saviour King : 1
• Turn Your Eyes : 1
• Ancient of Days : 1


            <br>
            <br>
         </div>



         <div class="col-md-6 no-gutter text-center">
            <div id="header" data-speed="2" data-type="background">
               <div id="headslide" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                     <div class="item active"><img src="{{url_for('static',filename='team.jpeg')}}" alt="Slide">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear:both;"></div>
      <!-- script -->
      <script src="{{url_for('static',filename='jquery.js') }}"> </script>
      <script src="{{url_for('static',filename='bootstrap.min.js') }}"> </script> 
      <script src="{{url_for('static',filename='menu-color.js') }}"> </script>
      <script src="{{url_for('static',filename='modernizer.js') }}"> </script>
      <script src="{{url_for('static',filename='script.js') }}"> </script>
   </body>
</html>