
   <!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>NLPT22</title>
      <!-- Css -->
      <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   </head>
   <body>
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="col-md-12">
            <div class="nav">
               <button class="btn-nav">
               <span class="icon-bar inverted top"></span>
               <span class="icon-bar inverted middle"></span>
               <span class="icon-bar inverted bottom"></span>
               </button>
            </div>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
               <ul class="nav-list vcenter">
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/">Home</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/search.html">Search</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/sundays.html">Sundays</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/members.html">Members</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/roster.html">Roster</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/add.html">Add</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/edit.html">Edit</a></li>
                  <li class="nav-item"><a class="item-anchor" href="http://127.0.0.1:5000/rewind.html">Rewind</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
 
      <div class="span12">
         <div class="col-md-6 no-gutter text-center fill">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <h2 class="center">Rewind</h2>
            <br>
            <pre style="height:500px;">
            
This is a summary for our New Life Praise Team Since 2022
---------------------------------------------------

Up until 25.12.22, we have done 84 songs
Out of 84 songs, we have done:
• 31 songs are from Hillsong
• 13 songs are from Shane & Shane
• 9 songs are from CityAlight
• 6 songs are from Elevation Worship
• 5 songs are from Passion
• 3 songs are from Phil Wickham
• 2 songs are from The Worship Initiative
• 2 songs are from Starfield
• 2 songs are from Vertical Worship
• 1 song is from Sovereign Grace Music
• 1 song is from Chris Tomlin
• 1 song is from Austin Stone Worship
• 1 song is from Cody Carnes
• 1 song is from Kingdomcity
• 1 song is from Keith and Kristyn Getty
• 1 song is from Kings Kaleidoscope
• 1 song is from Planetshakers
• 1 song is from Ascend the Hills
• 1 song is from Citipointe Worship
• 1 song is from Pat Barrett

Below are the songs, artists and the number of times the song was done throughout this year

King of Kings                                      | Hillsong                       | 5
Resurrender                                        | Hillsong                       | 5
More Like Jesus                                    | Passion                        | 4
Presence Power Glory                               | Citipointe Worship             | 4
Pride of a Father                                  | Hillsong                       | 4
Run to the Father                                  | Cody Carnes                    | 4
The Lord is My Salvation                           | Shane & Shane                  | 4
This I Believe (The Creed)                         | Hillsong                       | 4
Yet Not I But Through Christ in Me                 | CityAlight                     | 4
Anchor                                             | Hillsong                       | 3
Beautiful Saviour                                  | Planetshakers                  | 3
Broken Vessels                                     | Hillsong                       | 3
Build My Life                                      | Pat Barrett                    | 3
I Want to Know You                                 | CityAlight                     | 3
Saviour King                                       | Hillsong                       | 3
The Love of the Father                             | CityAlight                     | 3
The Passion                                        | Hillsong                       | 3
Trust You                                          | The Worship Initiative         | 3
Unashamed                                          | Starfield                      | 3
All the Poor and Powerless                         | Shane & Shane                  | 2
Another in the Fire                                | Hillsong                       | 2
Be Thou My Vision                                  | Ascend the Hills               | 2
Beneath the Waters                                 | Hillsong                       | 2
Blessed Assurance                                  | CityAlight                     | 2
Clean                                              | Hillsong                       | 2
Cornerstone                                        | Hillsong                       | 2
Crowns                                             | Hillsong                       | 2
God is Able                                        | Hillsong                       | 2
Grace So Glorious                                  | Elevation Worship              | 2
Graves into Gardens                                | Elevation Worship              | 2
Hosanna                                            | Hillsong                       | 2
How Deep the Father's Love for Us                  | Austin Stone Worship           | 2
Jesus, Thank You                                   | Sovereign Grace Music          | 2
Living Hope                                        | Phil Wickham                   | 2
My Worth is Not in What I Own                      | Shane & Shane                  | 2
O Praise the Name (Anástasis)                      | Hillsong                       | 2
Oceans                                             | Shane & Shane                  | 2
Pride of a Father                                  | CityAlight                     | 2
Pursue / All I Need is You                         | Hillsong                       | 2
Reign in Us                                        | Starfield                      | 2
Scandal of Grace                                   | Hillsong                       | 2
The Lamb of God                                    | Vertical Worship               | 2
What a Beautiful Name it is                        | Hillsong                       | 2
Who You Say I Am                                   | Hillsong                       | 2
Your Will Be Done                                  | CityAlight                     | 2
All Glory Be to Christ                             | Kings Kaleidoscope             | 1
All the Poor and Powerless                         | The Worship Initiative         | 1
Ancient of Days                                    | CityAlight                     | 1
Anthem                                             | Phil Wickham                   | 1
Behold the Lamb                                    | Passion                        | 1
Christ is Enough                                   | Hillsong                       | 1
Christ is Mine Forevermore                         | CityAlight                     | 1
Come Thou Fount (Above All Else)                   | Shane & Shane                  | 1
Draw Me Close                                      | Shane & Shane                  | 1
From the Inside Out                                | Hillsong                       | 1
Give us Clean Hands                                | Shane & Shane                  | 1
Good Good Father                                   | Chris Tomlin                   | 1
Grace so Glorious                                  | Elevation Worship              | 1
Hallelujah Here Below                              | Elevation Worship              | 1
Hark the Herald                                    | Kingdomcity                    | 1
I Could Sing of Your Love Forever                  | Shane & Shane                  | 1
I Give You My Heart                                | Shane & Shane                  | 1
In Christ Alone                                    | Shane & Shane                  | 1
In Christ Alone                                    | Passion                        | 1
It is Well with My Soul                            | Hillsong                       | 1
Let it Be Jesus                                    | Shane & Shane                  | 1
Let it Be Jesus                                    | Hillsong                       | 1
Lord I Need You                                    | Passion                        | 1
Man of Sorrows                                     | Hillsong                       | 1
Never Lost                                         | Elevation Worship              | 1
Once for All                                       | CityAlight                     | 1
Prince of Heaven                                   | Hillsong                       | 1
Silent Night + Saviour King                        | Hillsong                       | 1
Strong God                                         | Vertical Worship               | 1
Stronger                                           | Hillsong                       | 1
The Power of the Cross                             | Keith and Kristyn Getty        | 1
The Stand                                          | Hillsong                       | 1
There is a King                                    | Elevation Worship              | 1
There is a King                                    | Hillsong                       | 1
This is Amazing Grace                              | Phil Wickham                   | 1
This We Know                                       | Shane & Shane                  | 1
Trust You                                          | Shane & Shane                  | 1
Way Maker                                          | Passion                        | 1
Whole Heart                                        | Hillsong                       | 1


--MEMBERS--
Member Name: Calvin
Role: Drum
Since 2022, Calvin stood 45 times
Below are the name and the frequency of members that Calvin has stood with
 Vocal  | David : 27
 Guitar | David : 27
Keys   | Jake : 20


Member Name: David
Role: Vocal + Guitar
Since 2022, David stood 30 times: 30 times as a Song Leader and 0 times as a Vocal
Below are the name and the frequency of members that David has stood with
   Vocal | Stella C : 14
Keys  | Jake : 17
    This member is a Song Leader and below are the songs that David has picked the most
• Pride of a Father : 4


Member Name: Emily
Role: Keys
Since 2022, Emily stood 17 times
Below are the name and the frequency of members that Emily has stood with
Vocal  | Stella C : 13
Guitar | Paul : 10


Member Name: Jake
Role: Keys
Since 2022, Jake stood 26 times
Below are the name and the frequency of members that Jake has stood with
Vocal  | David : 17
Guitar | David : 17


Member Name: Minhee (Past Member)
Role: Vocal + Keys
Since 2022, Minhee stood 16 times: 11 times as a Song Leader and 4 times as a Vocal and 1 times as an Instrumentalist
Below are the name and the frequency of members that Minhee has stood with
Vocal  | Paul : 10
Guitar | Paul : 10
    This member is a Song Leader and below are the songs that Minhee has picked the most
• Saviour King : 2
• More Like Jesus : 2
• Trust You : 2


Member Name: Paul
Role: Vocal + Guitar
Since 2022, Paul stood 29 times: 28 times as a Song Leader and 1 times as a Vocal
Below are the name and the frequency of members that Paul has stood with
   Vocal | Minhee : 10
Keys  | Emily : 10
    This member is a Song Leader and below are the songs that Paul has picked the most
• Saviour King : 3
• King of Kings : 3
• Resurrender : 3
• More Like Jesus : 3
• Build My Life : 3


Member Name: Stella C
Role: Vocal + Guitar
Since 2022, Stella C stood 22 times: 20 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Stella C has stood with
   Vocal | David : 14
Keys  | Emily : 12
    This member is a Song Leader and below are the songs that Stella C has picked the most
• This I Believe (The Creed) : 3
• Pride of a Father : 3


Member Name: Stella K (Past Member)
Role: Keys
Since 2022, Stella K stood 4 times
Below are the name and the frequency of members that Stella K has stood with
Vocal  | Paul : 3
Guitar | Paul : 3


Member Name: Salang
Role: Vocal + Guitar
Since 2022, Salang stood 16 times: 1 times as a Song Leader and 15 times as a Vocal
Below are the name and the frequency of members that Salang has stood with
   Vocal | Paul : 10
Keys  | Jake : 7


Member Name: Josh (Past Member)
Role: Vocal + Guitar
Since 2022, Josh stood 2 times: 0 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Josh has stood with
   Vocal | David : 1
Keys  | Jake : 2


Member Name: Priscilla
Role: Vocal + Guitar
Since 2022, Priscilla stood 4 times: 0 times as a Song Leader and 4 times as a Vocal
Below are the name and the frequency of members that Priscilla has stood with
   Vocal | Paul : 3
Keys  | Emily : 2


Member Name: Annabel
Role: Sound
Annabel is rostered on the sound board every fortnight


Member Name: Annette
Role: Sound
Annette is rostered on the sound board every fortnight


Member Name: Jackie (Past Member)
Role: Vocal
Since 2022, Jackie stood 22 times: 20 times as a Song Leader and 2 times as a Vocal
Below are the name and the frequency of members that Jackie has stood with
 Vocal  | David : 14
 Guitar | David : 14
Keys   | Jake : 14
    This member is a Song Leader and below are the songs that Jackie has picked the most
• Unashamed : 3
• Pride of a Father : 3


Member Name: Una (Past Member)
Role: Vocal
Since 2022, Una stood 13 times: 3 times as a Song Leader and 10 times as a Vocal
Below are the name and the frequency of members that Una has stood with
 Vocal  | Paul : 9
 Guitar | Paul : 9
Keys   | Jake : 5
    This member is a Song Leader and below are the songs that Una has picked the most
• King of Kings : 1
• Hark the Herald : 1
• Silent Night + Saviour King : 1


            </pre>
            <br>
            <br>
         </div>



         <div class="col-md-6 no-gutter text-center">
            <div id="header" data-speed="2" data-type="background">
               <div id="headslide" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
   <div class="item active"><img src="{{url_for('static',filename='rewind.jpg')}}" alt="Slide">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear:both;"></div>
      <!-- script -->
      <script src="{{url_for('static',filename='jquery.js') }}"> </script>
      <script src="{{url_for('static',filename='bootstrap.min.js') }}"> </script> 
      <script src="{{url_for('static',filename='menu-color.js') }}"> </script>
      <script src="{{url_for('static',filename='modernizer.js') }}"> </script>
      <script src="{{url_for('static',filename='script.js') }}"> </script>
   </body>
</html>